html
    margin: 0
*
    margin: 0
@mixin center()
    position: relative
    transform: translate(-50%, 0)
#Title
    text-overflow: fade
    word-wrap: normal
    min-width: 70%
    color: azure
    padding: 1vw
    text-align: left
    font-size: xxx-large
#Logo
    max-width: 25vw
    max-height: 40vh
    border: clear
    border-width: 2px
    border-radius: 15%
body
    background: linear-gradient(royalblue -10% 50%,hotPink 50% 1000%)
*
    font-family: 'SF Pro Text',-apple-system,BlinkMacSystemFont,Roboto,'Segoe UI',Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol'
    transition: cubic-bezier(0.39, -0.11, 0.54, 1.22)
#container
    background: linear-gradient(royalblue, cyan 100%)
    min-height: 100vh
    padding: 0
    margin: 0
#titleArea
    padding: 5vw
    min-width: 10em
    max-width: 100vw

@mixin statText
    background: linear-gradient(90deg, steelblue, dodgerblue)
    -webkit-background-clip: text
    -webkit-text-fill-color: transparent

.spacingGroup
    padding: 1em

#stats
    background: hotpink
    flex-wrap: wrap
    display: flex
    flex-basis: content
    transition: "all 0.5s"
    padding-bottom: 3em
    padding-top: 3em
    p
        @include statText
        word-wrap: break-word
    h2
        @include statText
    li
        @include statText

$randomL: 0
@mixin RandomPastel()
    $random: (360 * random())
    background-color: hsl($random,70%, 80%)
    
#stats > div
    font-size: 7mm
    padding: 1em
    margin: 1.1em
    transform: rotateX(51deg) rotateZ(20deg)
    transform-style: preserve-3d
    border-radius: 32px
    box-shadow: 1px 1px 0 1px #f9f9fb, -1px 0 28px 0 rgba(34, 33, 81, 0.01), 28px 28px 28px 0 rgba(34, 33, 81, 0.25)
    transition: .4s ease-in-out transform, .4s ease-in-out box-shadow 
    fillAssurance
    &::focus-view
        opacity: 0
    &:hover
        transform: translate3d(0px, -16px, 0px) rotateX(42deg) rotateZ(0deg)
        box-shadow: 0px 2.5px 0px 0px #f9f9fb, -1px 0 28px 0 rgba(0, 33, 81, 0.01), 54px 54px 28px -10px rgba(34, 33, 81, 0.15)
    &:nth-child(1)
        @include RandomPastel()
    &:nth-child(2)
        @include RandomPastel()
    &:nth-child(3)
        @include RandomPastel()
    &:nth-child(4)
        @include RandomPastel()
    &:nth-child(5)
        @include RandomPastel()
    &:nth-child(6)
        @include RandomPastel()
    &:nth-child(7)
        @include RandomPastel()

#Download
    color: grey