:root {
    --first: #071a40;
    --second: #0d518c;
    --third: #0f8dbf;
    --fourth: #72cef2;
    --fifth: #f2d338;
}
* {
    font-family: 'San Francisco', Helvetica, Arial, san-serif;
    margin: 0;
    transition: transform 0.5s;
    cursor: default;
}
.All {
    background-color: var(--first);
    background: radial-gradient(ellipse at 0% 0%, rgba(8, 0, 255, 0.33) 0%, transparent 67vw), linear-gradient(210.71deg, rgba(128, 0, 255, 0.28) 0%, transparent 100vw), radial-gradient(ellipse at 93vw 91vw, rgba(255, 0, 136, 0.4) 0%, transparent 100vw), radial-gradient(ellipse at 50vw 50vw, #000 0%, #000 100vw), linear-gradient(180deg, black 90vh, transparent 100vh); background-blend-mode: normal, normal, normal, normal, normal;
    background-repeat: no-repeat;
}
.title {
    text-align: center;
    color: white;
    padding: 1cm;
    margin: 0;
    /* background-color: var(--first); */
    /* background: radial-gradient(ellipse at 0% 0%, rgba(8, 0, 255, 0.33) 0%, transparent 67%), linear-gradient(210.71deg, rgba(128, 0, 255, 0.28) 0%, transparent 100%), radial-gradient(ellipse at 93% 91%, rgba(255, 0, 136, 0.4) 0%, transparent 100%), radial-gradient(ellipse at 50% 50%, #000 0%, #000 100%); background-blend-mode: normal, normal, normal, normal; ; */
    /* filter: blur(100); */
    /* box-shadow: 0px 2px 6px var(--first); */
    z-index: 2;
    position: relative;
    
    .text {
    font-size: 100px;
    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
}
.subtitle {
    text-align: center;
    color: white;
    padding: 4mm;
    column-count: 2;
    column-gap: 5%;
}
.subdividers {
    columns: unset;
    text-align: start;
}
.subdividers > p, .subdividers > h2 {
    padding: 2mm;
    perspective-origin: ;
}
.subtitle {
        /* Full screen width and height */
        width: 100%;
        min-height: 60vh;
      
        /* Centers the container in the middle of the screen */
        display: flex;
        justify-content: center;
        align-items: center;
      
        margin: 0;
    }
  
    #imageHolder {
        /* This will come into play later */
        perspective: 40px;
    }
  
    .mouseImage{
        width: 20em;
        height: 18em;
        transform: rotateX(0) rotateY(0);
    }
}
