:root {
    --first: #071a40;
    --second: #0d518c;
    --third: #0f8dbf;
    --fourth: #72cef2;
    --fifth: #f2d338;
}
* {
    font-family: 'San Francisco', Helvetica, Arial, san-serif;
    margin: 0;
}
.All {
    background-color: var(--first);
    background: radial-gradient(ellipse at 0px 0px, rgba(8, 0, 255, 0.33) 0px, rgba(255, 255, 255, 0) 67%), linear-gradient(210.71deg, rgba(128, 0, 255, 0.28) 0%, rgba(255, 255, 255, 0) 100%), radial-gradient(ellipse at 93% 91%, rgba(255, 0, 136, 0.4) 0%, rgba(255, 255, 255, 0) 100%), radial-gradient(ellipse at 50% 50%, #000 0%, #000 100%); background-blend-mode: normal, normal, normal, normal;
    background-repeat: no-repeat;
}
.title {
    text-align: center;
    color: white;
    padding: 1cm;
    margin: 0;
    /* background-color: var(--first); */
    /* background: radial-gradient(ellipse at 0% 0%, rgba(8, 0, 255, 0.33) 0%, rgba(255, 255, 255, 0) 67%), linear-gradient(210.71deg, rgba(128, 0, 255, 0.28) 0%, rgba(255, 255, 255, 0) 100%), radial-gradient(ellipse at 93% 91%, rgba(255, 0, 136, 0.4) 0%, rgba(255, 255, 255, 0) 100%), radial-gradient(ellipse at 50% 50%, #000 0%, #000 100%); background-blend-mode: normal, normal, normal, normal; ; */
    filter: blur(100);
    /* box-shadow: 0px 2px 6px var(--first); */
    z-index: 2;
    position: relative;
}
.subtitle {
    text-align: center;
    color: white;
    padding: 4mm;
}